<a href="https://colab.research.google.com/github/Shadrock/online-python-course/blob/master/Week_5/Lecture_jupyter_notebooks/302_Lecture_11_Dictionaries_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary Exercise
Create a histogram (shows the frequency of data) to show how many letters appear in a word. The output should be a ditionary in which the key is the letter, and the value is the number of times that letter appears in the word passed to the function. The method `dict()` creates an empty dictionary. 

So if you make a variable `d = dict()` then anything you put into `d` will be output into a dictionary. Remember, the way to add to   things to a dictionary (in this case) would be `d['key'] = 'value'` (no quotes needed if you use integers). 

I also used reassignment to count the world the letter the first time with a value of `1` then used `+=1` to add one to the value and reassign each time. 

I started my answer as follows:

In [ ]:
def histogram(word):      # create the function
  d = dict()              # initialize an empty dictionary

## Answer

In [ ]:
def histogram(word):      # create the function
  d = dict()              # initialize an empty dictionary 
  for letter in word:
    if letter not in d:   # If the letter is not yet in the dictionary... 
      d[letter] = 1       # this counts first occurence of the letter.
    else:
      d[letter] +=1       # Adds a value and the variable then assigns the new result to that variable.
  return d                # Returns the output of a dictionary

In [ ]:
histogram("Mississippi")

{'M': 1, 'i': 4, 'p': 2, 's': 4}

## Dictionary Exercise 2
Create a function that counts the number of occurences of a word in a string. The output should be a dictionary with the word as the key and the number of occurences as a value.

In [ ]:
def word_count(str):              # Define a function that takes a string as an argument
    counts = dict()               # Initialize an empty dictionary.
    words = str.lower().split()   # invoke methods to lower case all words in string then split them out

### Answer

In [ ]:
def word_count(str):
    counts = dict()
    words = str.lower().split()

    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1
    return counts

word_count('The quick brown fox jumps over the lazy dog.')

# Tuples (pronounced "Tuh-pull")
A tuple is similar to a list *except* that it is **immutable**: it cannot change. This means that methods like sort and reverse wonâ€™t work on a tuple! Lists are more common the tuples. But there are some cases in which you will want a tuple: the primary reason being if you don't want the dataset to change. 
Tuple is defined within parentheses and the syntax is: 

`Tuple = ('a', 'b', 'c', 'd', 'e')`

Note that a Tuple with a single element must include the final comma, such as: `real_tuple = ('a',)`. Any idea why? what is the `type` of the example I just gave and this one, `fake_tuple = ('a')`?

In [ ]:
real_tuple = ('a',)
fake_tuple = ('a')

type(fake_tuple) # Then try fake_tuple

## Accessing Elements
Similar to a list: use the index.

In [ ]:
mytuple = ('a', 'b', 'c', 'd', 'e')

How would I get just `a` from the tupple? How about `b, c`?

## Answer

In [ ]:
mytuple[0] # Gets a

'a'

In [ ]:
mytuple[1:3] # Gets b & c.