<a href="https://colab.research.google.com/github/Shadrock/online-python-course/blob/master/Week_5/Lecture_jupyter_notebooks/302_Lecture_9_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Lists
Lists in Python are used to store a collection of elements. In general they are homogenous but they don't have to be. Lists are mutable: you can change their content. 
The syntax for lists is square brackets that hold elements, which are spearated by a comma. 

E.g. `starwars_list = ["Leia", "Han", "Chewie", "Luke"]`

In [ ]:
text = "This is text from a #tweet."
words = text.split() # The split method returns a list of all the words in a string.
print(words)

['This', 'is', 'text', 'from', 'a', '#tweet.']

Example of a homogenous list:

In [ ]:
cities = ["Jakarta", "Mumbai", "Nairobi"]
populations = [9608000, 1841000, 3134000]
empty = [] # Sometimes, you will want to initialize an empty list into which things will be put.

Heterogeneous lists:

In [ ]:
mixedlist = ["Jakarta", 9608000, [12,15]] # Is there anything odd about this list?

Lists are handy for grouping like items together.

In [ ]:
import random # importing 'random' allows us to pick a random element from a list
restaurant_list = ['Dominos Pizza', 'Mysore', 'Restaurant Thailande', 'Lemeac', 'Chez Leveque', 'Sushi', 'Italian', 'Poutineville']
restaurant_item = random.choice(restaurant_list)
print ("Randomly selected item from list is " + restaurant_item)

#List Operations

The `+` operations concatenates lists into one. Print 1 - 5 from the following:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)

[1, 2, 3, 4, 5, 6]

The `*` repeats a list a given number of times. Print list `a` in the above code block three times.

In [ ]:
[a] * 3 # What's the output?

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

The `in` operator can check membership of a list. It returns a boolean value.

In [ ]:
features = ['point', 'line', 'polygon']
print(features)

['point', 'line', 'polygon']

In [ ]:
'point' in features # What's the error?

True

# Strings & Lists
Join list elements to form a string

In [ ]:
historylist = ['Mumbai', 'was', 'formerly', 'Bombay.']
mystr = ' '.join(historylist) # join method returns a string in which the elements of a sequence have been joined with a string separator.
print(mystr)

How can we remove the underscores and get `Mumbais was formerly Bombay`?

# Accessing List Elements
How can we access lists in a string?

In [ ]:
cities = ["Jakarta", "Mumbai", "Nairobi"]

In [ ]:
cities[2]

'Nairobi'

### Select the cities individually

In [ ]:
cities[0]

'Jakarta'

Accessing list elments: slicing a list with `[::-1]` produces a reversed copy.

In [ ]:
print(cities[::-1])

['Nairobi', 'Mumbai', 'Jakarta']

But does that permanently change the list?

In [ ]:
print(cities)

Using the `.reverse()` method reverses the list itself, until you reverse it again.

In [ ]:
cities.reverse() # The list is now in reverse order
print(cities)

['Nairobi', 'Mumbai', 'Jakarta']

## Lists are mutable
We can use indexing to change an element in a list with the following syntax: 
`variablename[index] = new value`

Example: We want to rename one element in the following list using the arport code for the city. BOM is the airport code for Bombay. How, then, can we change the variable name in this list?

In [ ]:
cities = ["Jakarta", "Mumbai", "Nairobi"]
cities[1] = 'BOM'
print(cities)

['Jakarta', 'BOM', 'Nairobi']

We can also using indexing to change an element in a list.

In [ ]:
numbers = [17, 123]
print(numbers)

How would we change `123` to `5`? Remember where your index starts

In [ ]:
numbers[1] =5
print(numbers)

[17, 5]

# More Mutating Lists
Change the following list to be `a,x,y,d`

In [ ]:
lamelist = ['a', 'b', 'c', 'd'] # Hint, slicing doesn't count the 'stop' index place.
lamelist[1:3] = 'x','y'
print(lamelist)

['a', 'x', 'y', 'd']

Briefly spell out for me how we're using the index. 
Insert `b` and `c` in their proper place in the list below.

In [ ]:
letterlist = ['a', 'd', 'f']
letterlist[1:1] = 'b', 'c'
print(letterlist)

['a', 'b', 'c', 'd', 'f']

Now add the letter `e`.

We can delete elements from a list by reassigning them to `[]`. Remove `2` and `3` from the list below.

In [ ]:
numberlist = [1,2,3,4,5]
numberlist[1:3] = []
print(numberlist)

[1, 4, 5]

You can also use the `del` operator.

In [ ]:
statslist = ['mean', 'median', 'mode']
del statslist[1] # which index deletes 'median'?
print(statslist)

['mean', 'mode']

# Nested Lists

Use cases for nested lists might include lists of things you want to group e.g.

In [ ]:
rhymes = [['cat', 'hat'], ['mouse', 'house']]

Or if you want to group things by condition, such as leaf colors, where each list is an observation in the field such as:

In [ ]:
leaf_color = [['red', 'yellow'], ['green', 'yellow']]

#Nested Lists and Indexing
What are two ways to print `15` from this list?

In [ ]:
mixedlist = ['Jakarta', 9608000, [12,15]]
# Create a variable using index to slice list
sublist = mixedlist[2] 
# Get the index for "15"
print(sublist[1])

There is a fast way...

In [ ]:
mixedlist[2][1]
print(mixedlist[2][1]) # Use your indexes...

15

# Debugging Exercise
First, walk me through the code: explain what it's doing. 
Code it up, check the output. 
Debug the list to print all regions.

In [ ]:
def printRegions():
  regions = ['north', 'east', 'south', 'west']
  i = 0
  while i <= 3:
    print(regions[i])
    i = i + 1

printRegions()

#Using `len()` on a list
Create a function that prints a list of elements using `len`.

In [ ]:
airports = ['DEN', 'LAX', 'BRU']

def printList(listname):
  i = 0
  while i < len(listname):
    print(listname[i])
    i = i+1

printList(airports)

DEN
LAX
BRU

The nice thing about using `len` here is that we don't need to know how many elements there are.

# Using `for` loops on a list
Create a function called `printlist` that takes a list for an argument and uses a for loop to print every elment in that list.

In [ ]:
# This function takes a list for an input and prints every element in that list. 
map_labels = [['red', 'green', 'blue'], ['yellow', 'cyan', 'magenta'], ['black', 'white', 'null']]

### `for` loop answer

In [ ]:
def printlist(listname):
  for listItem in listname:
    print(listItem)

map_labels = [['red', 'green', 'blue'], ['yellow', 'cyan', 'magenta']]

printlist(map_labels)

['red', 'green', 'blue']
['yellow', 'cyan', 'magenta']

# Exercise Data Munging
Write a python function that takes a list as an argument and returns a new list with unique elements of the first list. E.g. 

* Sample input `thislist = [1, 2, 1, 1, 3, 4, 3, 3, 5]`
* Sample output `unique_list = [1, 2, 3, 4, 5]`

This is a common data munging problem: you want to know how many unique values exist in a given dataset. 

My solution uses `.append()` which can append a value to the end of something. E.g.

In [ ]:
funlist = ['joy', 'happiness']
funlist.append('mirth')
print(funlist)

# Data Munging Answer

In [ ]:
def unique(list1):
  unique_list = [] # Initialize an empty list to hold unique values.
  for x in list1:
    if x not in unique_list: # check if a value is already in the list 
      print(x)

numlist = [1, 2, 1, 1, 3, 4, 3, 3, 5]
unique(numlist)

1
2
1
1
3
4
3
3
5

As always, there are methods that make it easier...

{1, 2, 3, 4, 5}